/env
/db.sqlite3
/apps/migrations
/apps/__pycache__
/apps/custom_models/__pycache__
/accounts/migrations
/accounts/__pycache__
/apps.custom_models.__pycache__
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.apps.__pycache__/
db.sqlite3
db.sqlite3-journal
media


**/__pycache__/
